# 1. Th√¥ng tin nh√≥m

### *Danh s√°ch th√†nh vi√™n:*

<center>
    
|   MSSV   |      H·ªç t√™n      | T√†i kho·∫£n Github |
|:--------:|:----------------:|:----------------:|
| 19120387 |    L√™ S·ªπ Thu·∫ßn   |    SyThuan1803   |
| 19120119 | Nguy·ªÖn Minh Ph√∫c |   youngtobesick  |
    
</center>

### *K·∫ø ho·∫°ch l√†m vi·ªác:* 
[Xem t·∫°i ƒë√¢y](https://docs.google.com/spreadsheets/d/1DCq30ORIH6m-1EYMnbUmZ8fBoxPiiCgRgLDpJaRKRVE/edit?usp=sharing)

---

# 2. Thu th·∫≠p d·ªØ li·ªáu

#### D·ªØ li·ªáu c·ªßa b·∫°n l√† v·ªÅ ch·ªß ƒë·ªÅ g√¨ v√† b·∫°n l·∫•y t·ª´ ngu·ªìn n√†o?

D∆∞ÃÉ li√™Ã£u laÃÄ baÃâng ƒëaÃÅnh giaÃÅ ƒë√¥Ã£ haÃÄi loÃÄng cuÃâa caÃÅc khaÃÅch v√™ÃÄ caÃÅc khaÃÅch saÃ£n Ch√¢u √Çu
</br> D·ªØ li·ªáu ƒë∆∞·ª£c l·∫•y t·ª´ ngu·ªìn ƒë∆∞·ª£c public tr√™n [Kaggle](https://www.kaggle.com/ishansingh88/europe-hotel-satisfaction-score)

**Ph√¢ÃÄn m√¥ taÃâ cuÃâa d∆∞ÃÉ li√™Ã£u**

Ph·∫ßn m√¥ t·∫£ d·ªØ li·ªáu kh√¥ng c√≥ g√¨ ƒë·∫∑c bi·ªát, ch·ªâ l√† c√°c d√≤ng m√¥ t·∫£ gi√° tr·ªã c·ªßa c√°c c·ªôt c√≥ trong dataset.  
D∆∞·ªõi ƒë√¢y l√† ph·∫ßn m√¥ t·∫£ ƒë∆∞·ª£c l·∫•y t·ª´ trang publish dataset:  

Columns
Age - 7 to 85

purposeoftravel - aviation, academic, personal, business, tourism.

Type of Travel - Group travel, Personal Travel.

Type Of Booking - Group bookings, Individual/Couple.

Hotel wifi service - Ratings out of 5.

Departure/Arrival convenience - Ratings out of 5.

Ease of Online booking - Ratings out of 5.

Hotel location - Ratings out of 5.

Food and drink - Ratings out of 5.

Stay comfort - Ratings out of 5.

Common Room entertainment - Ratings out of 5.

Checkin/Checkout service - Ratings out of 5.

Other service - Ratings out of 5.

Cleanliness - Ratings out of 5.

satisfaction - satisfied, neutral or dissatisfied.

**License c·ªßa d·ªØ li·ªáu**

License c·ªßa d·ªØ li·ªáu l√† Unknown ([ngu·ªìn](https://www.kaggle.com/ishansingh88/europe-hotel-satisfaction-score/metadata)).  
C√≥ v·∫ª nh∆∞ ng∆∞·ªùi publish d·ªØ li·ªáu n√†y l√™n Kaggle kh√¥ng c√≥ y√™u c·∫ßu g√¨ ƒë·ªëi v·ªõi vi·ªác s·ª≠ d·ª•ng d·ªØ li·ªáu, ho·∫∑c c≈©ng c√≥ th·ªÉ l√† qu√™n c·∫≠p nh·∫≠t chi ti·∫øt License. Nh∆∞ng c√≥ l·∫Ω vi·ªác s·ª≠ d·ª•ng d·ªØ li·ªáu v·ªõi m·ª•c ƒë√≠ch h·ªçc t·∫≠p th√¨ c≈©ng kh√¥ng ƒë·∫øn n·ªói n√†o üòì.

#### Ng∆∞·ªùi ta thu th·∫≠p d·ªØ li·ªáu t·ª´ ngu·ªìn n√†o?

Em ƒë√£ t√¨m h·∫øt t·∫•t c·∫£ tab ·ªü link b√™n tr√™n nh∆∞ng v·∫´n kh√¥ng th·∫•y ch·ªó n√†o c√≥ ghi c√°ch ƒë·ªÉ thu th·∫≠p b·ªô d·ªØ li·ªáu n√†y.

Em ƒëo√°n l√† c√≥ th·ªÉ l√∫c kh√°ch tr·∫£ ph√≤ng, h·ªç ƒë∆∞·ª£c nh·ªù ƒë·ªÉ ƒëi·ªÅn m·∫´u kh·∫£o s√°t v·ªÅ c√°c d·ªãch v·ª• c·ªßa kh√°ch s·∫°n ƒë·ªÉ thu th·∫≠p d·ªØ li·ªáu. V√¨ title ch·ªâ n√≥i chung chung l√† Europe Hotel m√† kh√¥ng ƒë·ªÉ chi ti·∫øt l√† m·ªôt hay nhi·ªÅu hotel n√†o n√™n c≈©ng c√≥ th·ªÉ l√† nh√≥m thu th·∫≠p d·ªØ li·ªáu ti·∫øn h√†nh kh·∫£o s√°t tr√™n c·ªông ƒë·ªìng n√†o ƒë√≥ ƒë·ªÉ c√≥ th·ªÉ ƒë∆∞a ra m·ªôt b·ªô d·ªØ li·ªáu ƒë·ªìng nh·∫•t v·ªÅ c√°c thu·ªôc t√≠nh nh∆∞ th·∫ø n√†y.

---

# 3. Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import RFE
from sklearn.tree import export_text

---

# 4. Kh√°m ph√° & ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu

## Kh√°m ph√° d·ªØ li·ªáu

### ƒê·ªçc d·ªØ li·ªáu t·ª´ file csv v√†o dataframe

In [2]:
# ehs l√† vi·∫øt t·∫Øt c·ªßa europe hotel satisfaction
ehs_df = pd.read_csv('./data/Europe Hotel Booking Satisfaction Score.csv')
ehs_df.head()

,id,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,70172,Male,13,aviation,Personal Travel,Not defined,3,4,3,1,5,5,5,4,5,5,neutral or dissatisfied
1,5047,Male,25,tourism,Group Travel,Group bookings,3,2,3,3,1,1,1,1,4,1,neutral or dissatisfied
2,110028,Female,26,tourism,Group Travel,Group bookings,2,2,2,2,5,5,5,4,4,5,satisfied
3,24026,Female,25,tourism,Group Travel,Group bookings,2,5,5,5,2,2,2,1,4,2,neutral or dissatisfied
4,119299,Male,61,aviation,Group Travel,Group bookings,3,3,3,3,4,5,3,3,3,3,satisfied

### D·ªØ li·ªáu g·ªìm c√≥ bao nhi√™u d√≤ng v√† bao nhi√™u c·ªôt?

In [3]:
num_rows,num_cols = ehs_df.shape
print(f'Number of rows: {num_rows}')
print(f'Number of cols: {num_cols}')

Number of rows: 103904
Number of cols: 17

V·∫≠y l√† d·ªØ li·ªáu ƒë∆∞·ª£c thu th·∫≠p h∆°n 100 ngh√¨n d√≤ng (c√≥ th·ªÉ t·ªìn t·∫°i c√°c d√≤ng b·ªã tr√πng nhau) v·ªõi kho·∫£ng 15 thu·ªôc t√≠nh ƒë∆∞·ª£c kh·∫£o s√°t.

### M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng?

Theo m√¥ t·∫£ c·ªßa file d·ªØ li·ªáu v√† theo quan s√°t s∆° b·ªô th√¨ m·ªói d√≤ng ƒë·∫°i di·ªán cho m·ªôt kh·∫£o s√°t c·ªßa m·ªôt ng∆∞·ªùi c·ª• th·ªÉ v·ªõi c√°c d·ªãch v·ª• c·ªßa kh√°ch s·∫°n, v√† nh√¨n chung th√¨ em hy v·ªçng l√† kh√¥ng c√≥ d√≤ng n√†o c√≥ √Ω nghƒ©a kh√°c v·ªõi nh·ªØng d√≤ng c√≤n l·∫°i (n·∫øu c√≥ th√¨ trong qu√° tr√¨nh kh√°m ph√° v√† ph√¢n t√≠ch, ta c√≥ th·ªÉ l∆∞·ª£c b·ªè c√°c d√≤ng n√†y sau).

### D·ªØ li·ªáu c√≥ c√°c d√≤ng b·ªã l·∫∑p kh√¥ng?

In [4]:
print(f'Duplicated rows in dataframe: {ehs_df.duplicated().sum()}')

Duplicated rows in dataframe: 0

Okay, theo nh∆∞ k·∫øt qu·∫£ c·ªßa c·ªßa d√≤ng code ph√≠a tr√™n th√¨ dataframe c·ªßa ta kh√¥ng t·ªìn t·∫°i c√°c d√≤ng b·ªã tr√πng nhau, ta c√≥ th·ªÉ ti·∫øp t·ª•c kh√°m ph√° m√† kh√¥ng c·∫ßn ·ªü l·∫°i x·ª≠ l√Ω v·∫•n ƒë·ªÅ b·ªã l·∫∑p d√≤ng n√†y.

### M·ªói c·ªôt c√≥ √Ω nghƒ©a g√¨?

Tuy ph·∫ßn th√¥ng tin m√¥ t·∫£ d·ªØ li·ªáu ƒë√£ ƒë·ªÅ c·∫≠p ƒë·∫øn t√™n c√°c c·ªôt v√† gi√° tr·ªã c·ªßa c√°c c·ªôt n√†y, nh∆∞ng n√≥ kh√¥ng ƒë·ªÅ c·∫≠p ƒë·∫øn √Ω nghƒ©a c·ªßa t√™n c·ªôt n√™n em nghƒ© l√† s·∫Ω gi·∫£i ƒë√°p m·ªôt c√°ch kh√° t∆∞∆°ng ƒë·ªëi v·ªÅ v·∫•n ƒë·ªÅ n√†y v√† hy v·ªçng l√† kh√¥ng c√≥ s·ª± hi·ªÉu nh·∫ßm ·ªü ƒë√¢y üòâ.

Sau ƒë√¢y l√† √Ω nghƒ©a c·ªßa c√°c c·ªôt v√† c√°c gi√° tr·ªã (ƒë∆∞·ª£c tr√≠ch t·ª´ th√¥ng tin m√¥ t·∫£ d·ªØ li·ªáu, c√°c d√≤ng kh√¥ng ƒë·ªÉ gi√° tr·ªã ·ªü d∆∞·ªõi ƒë√¢y m·∫∑c ƒë·ªãnh l√† ƒëi·ªÉm ratings t·ª´ 0-5):

|Thu·ªôc t√≠nh|    √ù nghƒ©a   |
|:--------:|:-----:|
|**id**|ID cuÃâa survey||
|**Gender**|Gi∆°ÃÅi tiÃÅnh ng∆∞∆°ÃÄi th∆∞Ã£c hi√™Ã£n survey|
|**Age**|Tu√¥Ãâi c·ªßa ƒë·ªëi t∆∞·ª£ng kh·∫£o s√°t (t·ª´ 7-85)| 
|**purpose_of_travel**|MuÃ£c ƒëiÃÅch c·ªßa chuy·∫øn ƒëi trong l√∫c s·ª≠ d·ª•ng kh√°ch s·∫°n (g·ªìm aviation, academic, personal, business, tourism)|
|**type_of_travel**|LoaÃ£i chuy√™ÃÅn ƒëi (g·ªìm Group travel, Personal Travel)|
|**Type of Booking**|Lo·∫°i ƒë·∫∑t ph√≤ng (g·ªìm Group bookings, Individual/Couple)|
|**Hotel wifi service**|Wifi cuÃâa khaÃÅch saÃ£n|
|**Departure/Arrival  convenience**|Ti√™Ã£n nghi khi ƒë√™ÃÅn|
|**Ease of Online booking**|ThoaÃâi maÃÅi booking online|
|**Hotel location**|ƒêiÃ£a ƒëi√™Ãâm hotel|
|**Food and drink**|Th∆∞ÃÅc ƒÉn vaÃÄ ƒë√¥ÃÄ u√¥ÃÅng|
|**Stay comfort**|Ch√¥ÃÉ ∆°Ãâ thoaÃâi maÃÅi|
|**Common Room entertainment**|PhoÃÄng giaÃâi triÃÅ chung|
|**Checkin/Checkout service**|DiÃ£ch vuÃ£ check in/ check out|
|**Other service**|DiÃ£ch vuÃ£ khaÃÅc|
|**Cleanliness**|SaÃ£ch seÃÉ|
|**satisfaction**|ƒê·ªô h√†i l√≤ng c·ªßa kh√°ch (g·ªìm satisfied, neutral or dissatisfied)|

### M·ªói c·ªôt hi·ªán ƒëang c√≥ ki·ªÉu d·ªØ li·ªáu g√¨? C√≥ c·ªôt n√†o c√≥ ki·ªÉu d·ªØ li·ªáu ch∆∞a ph√π h·ª£p ƒë·ªÉ c√≥ th·ªÉ x·ª≠ l√Ω ti·∫øp kh√¥ng?

Tr∆∞·ªõc khi xem ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c c·ªôt, ta c·∫ßn format t√™n c·ªôt theo m·ªôt chu·∫©n nh·∫•t ƒë·ªãnh ƒë·ªÉ d·ªÖ thao t√°c h∆°n. Chu·∫©n ƒë∆∞·ª£c ƒë·∫∑t ra ·ªü ƒë√¢y ƒë√≥ ch√≠nh l√† vi·∫øt th∆∞·ªùng c√°c k√Ω t·ª± t√™n c·ªôt v√† thay th·∫ø kho·∫£ng tr·∫Øng b·∫±ng d·∫•u g·∫°ch d∆∞·ªõi (underscore)

In [5]:
def convert_name(old_name):
    new_name = old_name.lower()
    new_name = new_name.replace('  ', '_')
    new_name = new_name.replace(' ', '_')
    new_name = new_name.replace('/', '_')
    return new_name

ehs_df.rename(columns=convert_name, inplace=True)
ehs_df.columns

Index(['id', 'gender', 'age', 'purpose_of_travel', 'type_of_travel',
       'type_of_booking', 'hotel_wifi_service',
       'departure_arrival_convenience', 'ease_of_online_booking',
       'hotel_location', 'food_and_drink', 'stay_comfort',
       'common_room_entertainment', 'checkin_checkout_service',
       'other_service', 'cleanliness', 'satisfaction'],
      dtype='object')

In [6]:
col_dtypes = ehs_df.dtypes
col_dtypes

id                                int64
gender                           object
age                               int64
purpose_of_travel                object
type_of_travel                   object
type_of_booking                  object
hotel_wifi_service                int64
departure_arrival_convenience     int64
ease_of_online_booking            int64
hotel_location                    int64
food_and_drink                    int64
stay_comfort                      int64
common_room_entertainment         int64
checkin_checkout_service          int64
other_service                     int64
cleanliness                       int64
satisfaction                     object
dtype: object

Hi·ªán t·∫°i th√¨ `ehs_df` ch·ªâ c√≥ 5 c·ªôt c√≥ `dtype` l√† `object`: "gender", "purpose_of_travel", "type_of_travel", "type_of_booking", "satisfaction". Ch√∫ng ta s·∫Ω th·ª≠ xem c√°c c·ªôt n√†y ƒëang gi·ªØ c√°c ki·ªÉu d·ªØ li·ªáu n√†o.

In [7]:
def open_object_dtype(s):
    return set(s.apply(type))

obj_cols_name = ["gender", "purpose_of_travel",
                 "type_of_travel", "type_of_booking", "satisfaction"]

for col_name in obj_cols_name:
    print(f"{col_name}: {open_object_dtype(ehs_df[col_name])}")

gender: {<class 'str'>}
purpose_of_travel: {<class 'str'>}
type_of_travel: {<class 'str'>}
type_of_booking: {<class 'str'>}
satisfaction: {<class 'str'>}

**V·∫•n ƒë·ªÅ c·∫ßn ti·ªÅn x·ª≠ l√Ω:**
- C√¥Ã£t Type Of Booking coÃÅ giaÃÅ triÃ£ laÃÄ Not defined t∆∞∆°ng t∆∞Ã£ v∆°ÃÅi vi√™Ã£c ƒëaÃÅnh d√¢ÃÅu giaÃÅ triÃ£ thi√™ÃÅu, n√™n c√¢ÃÄn phaÃâi ƒëi√™ÃÄn vaÃÄo nh∆∞ÃÉng √¥ coÃÅ giaÃÅ triÃ£ naÃÄy.

## Ti·ªÅn x·ª≠ l√Ω

**Thay th√™ÃÅ nh∆∞ÃÉng √¥ coÃÅ giaÃÅ triÃ£ Not defined trong c√¥Ã£t Type of booking**

*Ph∆∞∆°ng phaÃÅp:*
- Thay th√™ÃÅ giaÃÅ triÃ£ Not defined bƒÉÃÄng 2 giaÃÅ triÃ£ coÃÄn laÃ£i trong c√¥Ã£t Type of booking bƒÉÃÄng ph∆∞∆°ng phaÃÅp max similarity (ƒë√¥Ã£ t∆∞∆°ng t∆∞Ã£ l∆°ÃÅn nh√¢ÃÅt)

Chu√¢Ãân hoÃÅa c√¥Ã£t categorical √™ÃÄ

In [8]:
# Chuy√™Ãân h√™ÃÅt giaÃÅ triÃ£ Not defined thaÃÄnh NaN
ehs_df.loc[ehs_df['type_of_booking'] == 'Not defined', 'type_of_booking'] = np.nan

In [9]:
# Chu√¢Ãân hoÃÅa caÃÅc c√¥Ã£t Categorical thaÃÄnh c√¥Ã£t c√≥ d·∫°ng s·ªë
#TaÃ£o m√¥Ã£t baÃân sao data frame ƒë√™Ãâ chu√¢Ãân hoÃÅa
ehs_df_normalize=ehs_df.copy()
ehs_df_normalize['gender'] = ehs_df_normalize['gender'].replace(['Male'],1)
ehs_df_normalize['gender'] =ehs_df_normalize['gender'].replace(['Female'],2)

ehs_df_normalize['type_of_travel'] = ehs_df_normalize['type_of_travel'].replace(['Personal Travel'],1)
ehs_df_normalize['type_of_travel'] = ehs_df_normalize['type_of_travel'].replace(['Group Travel'],2)

ehs_df_normalize['satisfaction'] = ehs_df_normalize['satisfaction'].replace(['neutral or dissatisfied'],0)
ehs_df_normalize['satisfaction'] = ehs_df_normalize['satisfaction'].replace(['satisfied'],1)
ehs_df_normalize['type_of_booking'] = ehs_df_normalize['type_of_booking'].replace(['Individual/Couple'],1)
ehs_df_normalize['type_of_booking'] = ehs_df_normalize['type_of_booking'].replace(['Group bookings'],2)

ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['tourism'],5)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['academic'],4)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['business'],3)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['aviation'],2)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['personal'],1)

ChoÃ£n ra t√¢ÃÅt caÃâ caÃÅc doÃÄng coÃÅ giaÃÅ triÃ£ NaN

In [10]:
sample_df_isnan=ehs_df_normalize[ehs_df_normalize['type_of_booking'].isna()]
sample_df_isnan

,id,gender,age,purpose_of_travel,type_of_travel,type_of_booking,hotel_wifi_service,departure_arrival_convenience,ease_of_online_booking,hotel_location,food_and_drink,stay_comfort,common_room_entertainment,checkin_checkout_service,other_service,cleanliness,satisfaction
0,70172,1,13,2,1,NaN,3,4,3,1,5,5,5,4,5,5,0
11,51412,2,12,5,1,NaN,2,4,2,2,1,1,1,5,5,1,0
27,14925,2,49,3,2,NaN,4,4,4,4,2,1,4,2,4,2,1
37,48014,1,40,1,1,NaN,4,3,4,2,2,2,2,3,4,2,0
69,9261,2,38,1,2,NaN,4,4,4,4,4,4,4,1,4,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103811,12866,1,27,1,2,NaN,4,4,4,4,4,4,4,3,4,4,0
103867,81857,1,30,1,2,NaN,3,2,2,2,3,3,3,2,3,3,0
103868,37051,2,57,1,1,NaN,1,5,1,5,4,3,5,1,5,1,0
103877,14662,1,27,5,2,NaN,5,4,4,4,5,5,5,2,3,5,1
103890,80087,2,56,2,2,NaN,3,5,5,5,2,4,3,4,3,3,1

CoÃÅ t√¥Ãâng c√¥Ã£ng 7494 doÃÄng c√¢ÃÄn ƒëi√™ÃÄn.  
Do s√¥ÃÅ l∆∞∆°Ã£ng d∆∞ÃÉ li√™Ã£u quaÃÅ nhi√™ÃÄu d√¢ÃÉn ƒë√™ÃÅn t√¥ÃÅn nhi√™ÃÄu trong luÃÅc th∆∞Ã£c hi√™Ã£n n√™n nhoÃÅm seÃÉ l√¢ÃÅy m√¢ÃÉu bao g√¥ÃÄm 1000 doÃÄng kh√¥ng ch∆∞ÃÅa giaÃÅ triÃ£ NaN ƒë√™Ãâ suy ra giaÃÅ triÃ£ NaN.  
L√¢ÃÅy random m√¢ÃÉu s√¥ÃÅ l∆∞∆°Ã£ng 1000 doÃÄng kh√¥ng ch∆∞ÃÅa giaÃÅ triÃ£ NaN vaÃÄ n√¥ÃÅi vaÃÄo dataframe ch∆∞ÃÅa giaÃÅ triÃ£ NaN ∆°Ãâ tr√™n.

In [11]:
sample_df=ehs_df_normalize[~ehs_df_normalize['type_of_booking'].isna()]
sample_df=sample_df.sample(frac=0.01, random_state=30).reset_index(drop=True)
sample_df1=pd.concat((sample_df_isnan,sample_df),axis=0).reset_index(drop=True)
sample_df1

,id,gender,age,purpose_of_travel,type_of_travel,type_of_booking,hotel_wifi_service,departure_arrival_convenience,ease_of_online_booking,hotel_location,food_and_drink,stay_comfort,common_room_entertainment,checkin_checkout_service,other_service,cleanliness,satisfaction
0,70172,1,13,2,1,NaN,3,4,3,1,5,5,5,4,5,5,0
1,51412,2,12,5,1,NaN,2,4,2,2,1,1,1,5,5,1,0
2,14925,2,49,3,2,NaN,4,4,4,4,2,1,4,2,4,2,1
3,48014,1,40,1,1,NaN,4,3,4,2,2,2,2,3,4,2,0
4,9261,2,38,1,2,NaN,4,4,4,4,4,4,4,1,4,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8453,61001,2,45,5,2,1.0,2,1,2,3,5,5,5,1,2,5,0
8454,112706,1,39,5,2,1.0,4,4,4,3,1,1,1,1,4,1,0
8455,2663,2,53,3,2,2.0,5,5,5,5,3,5,4,5,4,5,1
8456,46666,1,30,4,2,2.0,4,1,1,1,2,4,2,1,3,2,0
8457,122342,2,23,4,2,2.0,4,4,4,4,5,5,5,4,4,5,1

Ti√™ÃÅn haÃÄnh tiÃÅnh toaÃÅn ƒë√¥Ã£ t∆∞∆°ng t∆∞Ã£ l∆°ÃÅn nh√¢ÃÅt vaÃÄ d∆∞Ã£ ƒëoaÃÅn giaÃÅ triÃ£ biÃ£ thi√™ÃÅu

In [12]:
# ƒê∆∞a d∆∞ÃÉ li√™Ã£u cuÃâa dataframe v√™ÃÄ numpy array ƒë√™Ãâ bƒÉÃÅt ƒë√¢ÃÄu x∆∞Ãâ lyÃÅ tiÃÅnh ƒë√¥Ã£ t∆∞∆°ng t∆∞Ã£ l∆°ÃÅn nh√¢ÃÅt
ratings=sample_df1.drop('id',axis=1)
ratings['type_of_booking']=pd.to_numeric(ratings['type_of_booking'])
ratings=ratings.astype('float64')
ratings=np.array(ratings.iloc[:,:])
ratings

array([[ 1., 13.,  2., ...,  5.,  5.,  0.],
       [ 2., 12.,  5., ...,  5.,  1.,  0.],
       [ 2., 49.,  3., ...,  4.,  2.,  1.],
       ...,
       [ 2., 53.,  3., ...,  4.,  5.,  1.],
       [ 1., 30.,  4., ...,  3.,  2.,  0.],
       [ 2., 23.,  4., ...,  4.,  5.,  1.]])

In [ ]:
# Ti√™ÃÅn haÃÄnh tiÃÅnh giaÃÅ triÃ£ c√¢ÃÄn ƒëi√™ÃÄn bƒÉÃÄng ƒë√¥Ã£ t∆∞∆°ng t∆∞Ã£ l∆°ÃÅn nh√¢ÃÅt
batch_size = 32
filled_ratings = np.empty_like(ratings)
start = 0
end = batch_size
new_ratings=np.tile(ratings,(batch_size,1))
while(1):
    if (start>=len(ratings)):
        break
    r=ratings[start:end,:]
    if batch_size != 32:
        new_ratings=np.tile(ratings,(batch_size,1))
    r= np.repeat(r, repeats=len(ratings), axis=0)
    a=np.abs(new_ratings[:,:] -r)
    #Tao similarities
    similarities=np.zeros((batch_size,len(ratings)))
    startRow=0
    for ind in range(batch_size):
        similarities[ind]=(1/(np.nanmean(a[startRow:startRow+len(ratings)],axis=1)+0.001))
        startRow+=len(ratings)
    similarities=np.nan_to_num(similarities,nan=0) 
    weights=np.zeros((batch_size,len(ratings),ratings.shape[1]))
    for ind in range(batch_size):
        normalize_w=~np.isnan(ratings)*similarities[ind].reshape(-1,1)
        weights[ind]=normalize_w/normalize_w.sum(axis=0)
    filled_ratingsBatch=np.nansum(ratings*weights,axis=1)
    filled_ratings[start:end]=filled_ratingsBatch
    start=end
    end=start+batch_size
    if(end>len(ratings)):
        end=len(ratings)
        batch_size=end-start

ƒêi√™ÃÄn giaÃÅ triÃ£ thi√™ÃÅu vaÃÄo m√¢ÃÉu ƒëaÃÉ triÃÅch ra t√¢ÃÅt caÃâ doÃÄng thi√™ÃÅu NaN, sau ƒëoÃÅ n√¥ÃÅi vaÃÄo dataframe kh√¥ng coÃÅ giaÃÅ triÃ£ NaN.

In [ ]:
filled_nanvals = filled_ratings[np.isnan(ratings)].round(0)
#ƒêi√™ÃÄn giaÃÅ triÃ£ biÃ£ thi√™ÃÅu
sample_df_isnan=ehs_df[ehs_df['type_of_booking'].isna()]
sample_df_isnan.loc[:,'type_of_booking']=filled_nanvals
#Chuy√™Ãân v√™ÃÄ laÃ£i daÃ£ng categorical
sample_df_isnan.loc[sample_df_isnan['type_of_booking'] == 1, 'type_of_booking'] ='Individual/Couple' 
sample_df_isnan.loc[sample_df_isnan['type_of_booking'] == 2, 'type_of_booking'] ='Group bookings' 
#Ti√™ÃÅn haÃÄnh n√¥ÃÅi dataframe kh√¥ng ch∆∞ÃÅa giaÃÅ triÃ£ NaN vaÃÄ dataframe v∆°ÃÅi giaÃÅ triÃ£ NaN ƒëaÃÉ x∆∞Ãâ liÃÅ
ehs_df=ehs_df[~ehs_df['type_of_booking'].isna()]
ehs_df=pd.concat((sample_df_isnan,ehs_df),ignore_index=True,axis=0)
ehs_df=ehs_df.sample(frac=1, random_state=42).reset_index(drop=True)
ehs_df

In [ ]:
# Ki√™Ãâm tra coÃÄn doÃÄng NaN kh√¥ng
ehs_df[ehs_df['type_of_booking'].isna()]

D∆∞ÃÉ li√™Ã£u ƒëaÃÉ ƒë∆∞∆°Ã£c ƒëi√™ÃÄn ƒë√¢ÃÄy ƒëuÃâ.

---

## Kh√°m ph√° d·ªØ li·ªáu (ti·∫øp t·ª•c)

### V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu d·∫°ng numeric, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

Sau khi th·ª±c hi·ªán b∆∞·ªõc ti·ªÅn x·ª≠ l√Ω ph√≠a tr√™n th√¨ ta x·∫øp 11 c·ªôt sau v√†o nh√≥m numeric: "age", "hotel_wifi_service", "departure_arrival_convenience", "ease_of_online_booking", "hotel_location", "food_and_drink", "stay_comfort", "common_room_entertainment", "checkin_checkout_service", "other_service", "cleanliness".

C√°c c·ªôt c√≤n l·∫°i m·∫∑c d√π c√≥ ki·ªÉu s·ªë nh∆∞ng th·∫≠t ra c√≥ d·∫°ng categorical (v√¨ l√† m√£ ƒë∆∞·ª£c ƒë√°nh d∆∞·ªõi d·∫°ng s·ªë). Nh∆∞ v·∫≠y, ch·ªâ c√≥ 11 c·ªôt numeric v√† c√°c c·ªôt ngo·∫°i tr·ª´ "age" ƒë·ªÅu l√† thang ƒëi·ªÉm t·ª´ 0-5.

V·ªõi m·ªói c·ªôt numeric ta s·∫Ω t√≠nh t·ªâ l·ªá % gi√° tr·ªã thi·∫øu (t·ª´ 0 ƒë·∫øn 100), min, max v√† l∆∞u k·∫øt qu·∫£ v√†o dataframe nume_col_profiles_df. Dataframe n√†y c√≥ 4 d√≤ng l√† "missing_ratio", "min", "mean", "max"; v√† c√≥ 11 c·ªôt c√≥ t√™n ƒë∆∞·ª£c n√™u ·ªü tr√™n.

In [ ]:
def missing_ratio(s):
    return s.isna().mean() * 100

cate_col_name = ["id", "gender", "purpose_of_travel", "type_of_travel", "type_of_booking", "satisfaction"]
nume_col_idx = ehs_df.columns.drop(cate_col_name)
nume_col_df = ehs_df[nume_col_idx]
nume_col_profiles_df = nume_col_df.agg([missing_ratio, pd.Series.min,pd.Series.mean, pd.Series.max])

nume_col_profiles_df

**Nh√¢Ã£n xeÃÅt caÃÅc d∆∞ÃÉ li√™Ã£u s√¥ÃÅ:**
- ƒê√¥Ã£ tu√¥Ãâi trung biÃÄnh cuÃâa ng∆∞∆°ÃÄi th∆∞Ã£c hi√™Ã£n khaÃâo saÃÅt laÃÄ 39 tu√¥Ãâi, nhoÃâ nh√¢ÃÅt laÃÄ 7 tu√¥Ãâi, l∆°ÃÅn nh√¢ÃÅt laÃÄ 85 tu√¥Ãâi 
- CaÃÅc chiÃâ s√¥ÃÅ ƒëaÃÅnh giaÃÅ m∆∞ÃÅc ƒë√¥Ã£ haÃÄi loÃÄng t∆∞ÃÄ 0 ƒë√™ÃÅn 5
- CaÃÅc giaÃÅ triÃ£ trung biÃÄnh cuÃâa chiÃâ s√¥ÃÅ ƒëaÃÅnh giaÃÅ nƒÉÃÄm t∆∞ÃÄ 2 ƒë√™ÃÅn 3, nhiÃÄn chung cuÃÉng khaÃÅ c√¢n bƒÉÃÄng

Ta s·∫Ω xem r√µ h∆°n v·ªÅ s·ª± ph√¢n b·ªë c·ªßa c√°c gi√° tr·ªã trong m·ªói c·ªôt c√≥ ki·ªÉu l√† numeric b·∫±ng h√†m plot_hist_cols v·ªõi hai tham s·ªë truy·ªÅn v√†o l√† dataframe v√† s·ªë c·ªôt.

In [ ]:
def plot_hist_cols(df, num_graph_per_row):
    n_rows, n_cols = df.shape
    col_names = list(df.columns)
    n_rows_graph = (n_cols + num_graph_per_row - 1) / num_graph_per_row
    
    plt.figure(
        figsize = (6 * num_graph_per_row,  6 * n_rows_graph),
        dpi = 80,
    )
    
    for i in range(n_cols):
        plt.subplot(int(n_rows_graph), num_graph_per_row, i + 1)
        col_i = df.iloc[:, i]
        
        if (not np.issubdtype(type(col_i.iloc[0]), np.number)):
            val_counts = col_i.value_counts()
            plt.xticks(rotation = 90)
            val_counts.plot.bar()
        else:
            nunique_col_i = col_i.nunique()
            bins = nunique_col_i if (nunique_col_i < 10) else 10
            col_i.hist(bins=bins)
        
        plt.ylabel('counts')
        plt.title(f'{col_names[i]}')
        
    plt.tight_layout(pad=0.4, w_pad=0.5, h_pad=1.0)
    plt.show()

In [ ]:
plot_hist_cols(nume_col_df, 4)

**Nh√¢Ã£n xeÃÅt:**
- Gender: coÃÅ 2 loaÃ£i nam, n∆∞ÃÉ
- Purpose_of_travel: coÃÅ 5 giaÃÅ triÃ£ aviation(haÃÄng kh√¥ng), tourism(theo tour), business(c√¥ng vi√™Ã£c), academic(tr∆∞∆°ÃÄng hoÃ£c), personal(caÃÅ nh√¢n)
- Type of travel: Personal Travel(caÃÅ nh√¢n), Group Travel(theo nhoÃÅm)
- Type of booking: Not defined(kh√¥ng xaÃÅc ƒëiÃ£nh), Group bookings(theo nhoÃÅm), Individual/Couple(caÃÅ nh√¢n/ cƒÉÃ£p ƒë√¥i)
- Satisfaction: neutral or dissatisfied(biÃÄnh th∆∞∆°ÃÄng hoƒÉÃ£c kh√¥ng haÃÄi loÃÄng), satisfied(haÃÄi loÃÄng)

### V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu d·∫°ng categorical, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

`ehs_df` c√≥ 5 c·ªôt categorical l√† "id", "gender", "purpose_of_travel", "type_of_travel", "type_of_booking".

V·ªõi m·ªói c·ªôt categorical, ta t√≠nh t·ªâ l·ªá % gi√° tr·ªã thi·∫øu (t·ª´ 0 ƒë·∫øn 100), s·ªë l∆∞·ª£ng gi√° tr·ªã kh√°c nhau (kh√¥ng x√©t gi√° tr·ªã thi·∫øu), list/array c√°c gi√° tr·ªã kh√°c nhau (kh√¥ng x√©t gi√° tr·ªã thi·∫øu), v√† l∆∞u k·∫øt qu·∫£ v√†o dataframe cate_col_profiles_df. Dataframe n√†y c√≥ 3 d√≤ng l√† "missing_ratio", "num_diff_vals", "diff_vals"; v√† c√≥ 5 c·ªôt l√† "id", "gender", "purpose_of_travel", "type_of_travel", "type_of_booking".

In [ ]:
cate_col_df = ehs_df[cate_col_name]

cate_col_profiles_df = cate_col_df.agg([missing_ratio, pd.Series.nunique, pd.Series.unique])

cate_col_profiles_df.rename(
    index={'nunique': 'num_diff_vals', 'unique': "diff_vals"},
    inplace=True
)

cate_col_profiles_df

Ta s·∫Ω xem r√µ h∆°n v·ªÅ s·ª± ph√¢n b·ªë c·ªßa c√°c gi√° tr·ªã trong m·ªói c·ªôt c√≥ ki·ªÉu l√† categorical

In [ ]:
plot_hist_cols(cate_col_df, 3)

---

# 5. ƒê∆∞a ra c√°c c√¢u h·ªèi c·∫ßn tr·∫£ l·ªùi

#### C√¢u 1: MuÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi coÃÅ s∆∞Ã£ ƒëaÃÅnh giaÃÅ ƒë√¥Ã£ haÃÄi loÃÄng khaÃÅc nhau nh∆∞ th√™ÃÅ naÃÄo?
Tr·∫£ l·ªùi ƒë∆∞·ª£c c√¢u h·ªèi n√†y s·∫Ω cho ta bi√™ÃÅt ƒë∆∞∆°Ã£c caÃÅc ti√™u chiÃÅ trong muÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi ƒë√™Ãâ chu√¢Ãân biÃ£ t√¥ÃÅt h∆°n cho caÃÅc h∆°Ã£p ƒë√¥ÃÄng cuÃâa c√¥ng ty v∆°ÃÅi khaÃÅch saÃ£n sau naÃÄy.

#### C√¢u 2: C√°c y·∫øu t·ªë ·∫£nh h∆∞·ªüng ƒë·∫øn s·ª± h√†i l√≤ng gi·ªØa nam v√† n·ªØ khaÃÅc nhau nh∆∞ th·∫ø n√†o?
Tr·∫£ l·ªùi ƒë∆∞·ª£c c√¢u h·ªèi gi√∫p kh√°ch s·∫°n c√≥ nh·ªØng ƒë·ªãnh h∆∞·ªõng c·ª• th·ªÉ ƒë·ªÉ c·∫£i thi·ªán c√°c ti√™u ch√≠ ƒë·ªëi v·ªõi m·ªói gi·ªõi t√≠nh, qua ƒë√≥ c√≥ th·ªÉ c·∫£i thi·ªán ƒë·ªô h√†i l√≤ng c·ªßa kh√°ch h√†ng.

#### C√¢u 3: Trong t√¢ÃÅt caÃâ caÃÅc y√™ÃÅu t√¥ÃÅ ƒë∆∞∆°Ã£c ch√¢ÃÅm ƒëi√™Ãâm, nh∆∞ÃÉng y√™ÃÅu t√¥ÃÅ naÃÄo quan troÃ£ng nh√¢ÃÅt ƒë√™Ãâ m√¥Ã£t khaÃÅch saÃ£n seÃÉ ƒë∆∞∆°Ã£c ƒëaÃÅnh giaÃÅ haÃÄi loÃÄng? 
Tr·∫£ l·ªùi ƒë∆∞·ª£c c√¢u h·ªèi n√†y ƒë·ªÉ n√™ÃÅu ∆°Ãâ Vi√™Ã£t Nam mu√¥ÃÅn m∆°Ãâ m√¥Ã£t khaÃÅch saÃ£n thiÃÄ seÃÉ tham khaÃâo nh∆∞ÃÉng y√™ÃÅu t√¥ÃÅ naÃÄy ƒë√™Ãâ caÃâi thi√™Ã£n, n√¢ng c√¢ÃÅp.

#### C√¢u 4: ƒê·ªô tu·ªïi c·ªßa kh√°ch h√†ng ƒë·ªëi v·ªõi t·ª´ng m·ª•c ƒë√≠ch chuy·∫øn ƒëi ·∫£nh h∆∞·ªüng nh∆∞ th·∫ø n√†o ƒë·∫øn s·ª± h√†i l√≤ng?
Tr·∫£ l·ªùi ƒë∆∞·ª£c c√¢u h·ªèi n√†y s·∫Ω gi√∫p kh√°ch s·∫°n c√≥ nh·ªØng ph∆∞∆°ng √°n ph√π h·ª£p t√πy theo ƒë·ªô tu·ªïi v√† m·ª•c ƒë√≠ch chuy·∫øn ƒëi ƒë·ªÉ ph√°t tri·ªÉn, ƒë√°p ·ª©ng nhu c·∫ßu c·ªßa kh√°ch h√†ng.

---

# 6.Ti·ªÅn x·ª≠ l√Ω, ph√¢n t√≠ch d·ªØ li·ªáu ƒë·ªÉ tr·∫£ l·ªùi cho t·ª´ng c√¢u h·ªèi

## 6.1 C√¢u h·ªèi 1:  MuÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi coÃÅ s∆∞Ã£ ƒëaÃÅnh giaÃÅ ƒë√¥Ã£ haÃÄi loÃÄng khaÃÅc nhau nh∆∞ th√™ÃÅ naÃÄo?

### Ti·ªÅn x·ª≠ l√Ω

Chuy√™Ãân c√¥Ã£t satisfaction v√™ÃÄ 0 1 ƒë√™Ãâ tiÃÅnh toaÃÅn nhanh h∆°n, `neutral or dissatisfied` laÃÄ 0, `satisfaction` laÃÄ 1

In [ ]:
ehs_df_normalize=ehs_df.copy()
ehs_df_normalize['satisfaction'] = ehs_df_normalize['satisfaction'].replace(['neutral or dissatisfied'],0)
ehs_df_normalize['satisfaction'] = ehs_df_normalize['satisfaction'].replace(['satisfied'],1)

### Ph√¢n t√≠ch d·ªØ li·ªáu ƒë·ªÉ tr·∫£ l·ªùi cho c√°c c√¢u h·ªèi

<b>ƒê√¢ÃÄu ti√™n, xem tiÃâ l√™Ã£ ƒëaÃÅnh giaÃÅ ƒë√¥Ã£ haÃÄi loÃÄng cuÃâa t∆∞ÃÄng muÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi

In [ ]:

average_satisfaction=ehs_df_normalize.groupby('purpose_of_travel')['satisfaction'].mean()*100
average_satisfaction

TiÃâ l√™Ã£ haÃÄi loÃÄng trung biÃÄnh cuÃâa caÃÅc muÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi:
</br>  aviation: 42,67%
</br>  academic: 43,16%
</br>  business: 43,58%
</br>  personal: 43,62%
</br>  tourism: 43,52%

In [ ]:
colors = ['#1b9e77', '#a9f971', '#fdaa48','#6890F0','#A890F0']
plt.barh(average_satisfaction.index,average_satisfaction.values,color=colors);
plt.title("Average satisfaction of purpose travel")
plt.ylabel("purpose_of_travel")
plt.xlabel("%")
plt.show()

**Nh√¢Ã£n xeÃÅt:**
- CaÃÅc muÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi coÃÅ tiÃâ l√™Ã£ ƒëaÃÅnh giaÃÅ ƒë√¥Ã£ haÃÄi loÃÄng v√™ÃÄ khaÃÅch saÃ£n Ch√¢u √Çu t∆∞∆°ng ƒë∆∞∆°ng nhau, ƒë√™ÃÄu coÃÅ ƒëaÃÅnh giaÃÅ haÃÄi loÃÄng iÃÅt h∆°n 50%, trong ƒëoÃÅ aviation coÃÅ tiÃâ l√™Ã£ ƒëaÃÅnh giaÃÅ th√¢ÃÅp nh√¢ÃÅt.
- Aviation laÃÄ chuy√™ÃÅn ƒëi cuÃâa ngaÃÄnh haÃÄng kh√¥ng, bao g√¥ÃÄm phi c√¥ng, ti√™ÃÅp vi√™n. HoÃ£ coÃÅ th√™Ãâ ƒëaÃÉ ƒëi nhi√™ÃÄu n∆°i n√™n vi√™Ã£c ƒëaÃÅnh giaÃÅ tr∆°Ãâ n√™n khƒÉÃÅt khe h∆°n.

<b>TiÃÄm hi√™Ãâu s√¢u h∆°n v√™ÃÄ caÃÅc ƒëi√™Ãâm s√¥ÃÅ ƒëaÃÅnh giaÃÅ ti√™u chiÃÅ cuÃâa muÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi coÃÅ s∆∞Ã£ haÃÄi loÃÄng v√™ÃÄ khaÃÅch saÃ£n

Xem ƒëi√™Ãâm s√¥ÃÅ trung biÃÄnh cuÃâa m√¥i ti√™u chiÃÅ ƒëaÃÅnh giaÃÅ ∆∞ÃÅng v∆°ÃÅi t∆∞ÃÄng muÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi

In [ ]:
ehs_df_normalize=ehs_df_normalize[ehs_df_normalize['satisfaction']==1]

score_cols=['hotel_wifi_service',
       'departure_arrival_convenience', 'ease_of_online_booking',
       'hotel_location', 'food_and_drink', 'stay_comfort',
       'common_room_entertainment', 'checkin_checkout_service',
       'other_service', 'cleanliness']
avg_score=ehs_df_normalize.groupby('purpose_of_travel')[score_cols].mean()
avg_score

VeÃÉ bi√™Ãâu ƒë√¥ÃÄ th√™Ãâ hi√™Ã£n ƒë√¥Ã£ l√™Ã£ch gi∆∞ÃÉa trung biÃÄnh ƒëi√™Ãâm s√¥ÃÅ ƒëaÃÅnh giaÃÅ cuÃâa t∆∞ÃÄng cƒÉÃ£p muÃ£c ƒëiÃÅch chuy√™ÃÅn ƒëi

In [ ]:
purpose_travel_cols=['academic','aviation','business','personal','tourism']

len_purpose=len(purpose_travel_cols)
for i in range(len_purpose):
    for j in range(i+1,len_purpose):
        plt.barh(avg_score.columns,avg_score.iloc[i]-avg_score.iloc[j],color=colors)
        plt.title(f'{purpose_travel_cols[i]} with {purpose_travel_cols[j]}')
        plt.show()

**Nh√¢Ã£n xeÃÅt:**
- T∆∞ÃÄ caÃÅc bi√™Ãâu ƒë√¥ÃÄ naÃÄy ta seÃÉ nhiÃÄn th√¢ÃÅy ƒë∆∞∆°Ã£c s∆∞Ã£ khaÃÅc nhau roÃÉ h∆°n trong caÃÅc ti√™u chiÃÅ ƒëaÃÅnh giaÃÅ cuÃâa t∆∞ÃÄng haÃ£ng muÃ£c v√™ÃÄ ƒë√¥Ã£ haÃÄi loÃÄng.
- ViÃÅ duÃ£ nh∆∞ personal vaÃÄ tourism:
</br>- Tourism seÃÉ ƒëaÃÅnh giaÃÅ stay_comfort, food_and_drink, hotel_location, departure_arrival_convenience khƒÉÃÅt khe h∆°n, ƒë√¥ÃÄng nghiÃÉa v∆°ÃÅi vi√™Ã£c seÃÉ quan t√¢m nh∆∞ÃÉng ti√™u chiÃÅ naÃÄy h∆°n.
</br>- Ng∆∞∆°Ã£c laÃ£i nh∆∞ÃÉng ti√™u chiÃÅ nh∆∞ cleanlliness, checkin checkout service... seÃÉ ƒë∆∞∆°Ã£c b√™n personal ch√¢ÃÅm ƒëi√™Ãâm cao h∆°n.
> <I> T∆∞ÃÄ ƒëoÃÅ, ta seÃÉ coÃÅ th√™m m√¥Ã£t ti√™u chiÃÅ phuÃ£ n∆∞ÃÉa ƒë√™Ãâ ƒë∆∞a ra caÃÅc quy√™ÃÅt ƒëiÃ£nh thay ƒë√¥Ãâi, n√¢ng c√¢ÃÅp khaÃÅch saÃ£n ∆∞ÃÅng v∆°ÃÅi t∆∞ÃÄng h∆°Ã£p ƒë√¥ÃÄng cuÃâa caÃÅc b√™n ƒë√¥ÃÅi taÃÅc v√™ÃÄ tr∆∞∆°ÃÄng hoÃ£c, tour, haÃÄng kh√¥ng... NƒÉÃÅm bƒÉÃÅt ƒë∆∞∆°Ã£c ƒëi√™Ãâm y√™ÃÅu cuÃâa miÃÄnh seÃÉ kiÃ£p th∆°ÃÄi s∆∞Ãâa ch∆∞ÃÉa vaÃÄ thay ƒë√¥Ãâi nhƒÉÃÄm n√¢ng cao h∆°n ch√¢ÃÅt l∆∞∆°Ã£ng cuÃâa khaÃÅch saÃ£n

---

## 6.2 C√¢u h·ªèi 2: C√°c y·∫øu t·ªë ·∫£nh h∆∞·ªüng ƒë·∫øn s·ª± h√†i l√≤ng gi·ªØa nam v√† n·ªØ khaÃÅc nhau nh∆∞ th·∫ø n√†o?

### Ti·ªÅn x·ª≠ l√Ω

- ƒê·ªïi c√°c gi√° tr·ªã ·ªü c·ªôt satisfaction th√†nh 1 cho "satisfied" v√† 0 cho "neutral or dissatisfied" ƒë·ªÉ ti·ªán cho vi·ªác x·ª≠ l√Ω, kh√°m ph√° v√† ph√¢n t√≠ch d·ªØ li·ªáu

In [ ]:
ehs_df['satisfaction'].replace(
    to_replace=['neutral or dissatisfied', 'satisfied'],
    value=[0, 1],
    inplace=True
)

### Ph√¢n t√≠ch d·ªØ li·ªáu ƒë·ªÉ tr·∫£ l·ªùi cho c√°c c√¢u h·ªèi 

**Xem s·ªë l∆∞·ª£ng kh√°ch h√†ng nam v√† n·ªØ th·ªèa m√£n c√°c d·ªãch v·ª• c·ªßa kh√°ch s·∫°n**

In [ ]:
sns.countplot(x='gender',hue='satisfaction',data=ehs_df)

**Ph·∫ßn trƒÉm kh√°ch h√†ng h√†i l√≤ng d·ª±a theo gi·ªõi t√≠nh**

In [ ]:
plt.figure(figsize=(12, 6))
genders = ['Male', 'Female']

for gender in genders:
    plt.subplot(1, 2, genders.index(gender)+1)
    plt.pie(
        ehs_df.loc[ehs_df.gender==gender, 'satisfaction'].value_counts(),
        labels=['neutral or dissatisfied','satisfied'],
        explode=[0, 0.05],
        shadow=True,
        autopct='%1.2f%%'
    )
    plt.title(f'Satisfaction ({gender})', fontsize=15)

plt.show()

In [ ]:
group_data = ehs_df.groupby(['gender']).mean().T[2:-1]
group_data.plot.barh(
    figsize=(8,8),
    title = 'ƒêi·ªÉm trung b√¨nh c√°c y·∫øu t·ªë theo gi·ªõi t√≠nh'
)
plt.show()

***Nh·∫≠n x√©t:*** 
- C√≥ th·ªÉ th·∫•y r·∫±ng ph√¢n b·ªë theo gi·ªõi t√≠nh c·ªßa kh√°ch h√†ng h√†i l√≤ng v√† kh√¥ng h√†i l√≤ng l√† kh√° gi·ªëng nhau. ƒê·ªëi v·ªõi c·∫£ kh√°ch nam v√† n·ªØ, s·ªë l∆∞·ª£ng c√°c kh√°ch h√†ng kh√¥ng h√†i l√≤ng cao h∆°n so v·ªõi s·ªë l∆∞·ª£ng kh√°ch h√†ng h√†i l√≤ng
- T·ª∑ l·ªá h√†i l√≤ng c·ªßa kh√°ch h√†ng nam l√† 44%, c·ªßa kh√°ch h√†ng n·ªØ 43%
- Trung b√¨nh ratings c·ªßa c√°c y·∫øu t·ªë c·ªßa nam v√† n·ªØ kh√° ƒë·ªìng ƒë·ªÅu v√† g·∫ßn nh∆∞ kh√¥ng c√≥ s·ª± kh√°c bi·ªát

In [ ]:
male_ratings_df = ehs_df[ehs_df['gender'] == 'Male']
s1 = male_ratings_df.corr()['satisfaction'][2:-1].rename('Male')

female_ratings_df = ehs_df[ehs_df['gender'] == 'Female']
s2 = female_ratings_df.corr()['satisfaction'][2:-1].rename('Female')

gender_corr = pd.concat([s1, s2], axis=1)
gender_corr.plot.barh(
    figsize=(12,8),
    title = 'T∆∞∆°ng quan gi·ªØa ƒë·ªô h√†i l√≤ng v√† c√°c y·∫øu t·ªë theo gi·ªõi t√≠nh'
)

***Tr·∫£ l·ªùi c√¢u h·ªèi***
- C√°c d·ªãch v·ª• kh√°c ("other service") c√≥ m·ªëi t∆∞∆°ng quan kh√° cao ƒë·ªëi v·ªõi c√°c kh√°ch h√†ng l√† n·ªØ gi·ªõi
- C√°c kh√°ch h√†ng nam c√≥ t∆∞∆°ng quan cao h∆°n kh√° ƒë√°ng k·ªÉ so v·ªõi n·ªØ ·ªü c√°c ti√™u ch√≠ nh∆∞ "cleanliness", "stay_comfort", "food_and_drink"
- Ngo√†i ra ƒë·ªô t∆∞∆°ng quan c·ªßa c√°c ti√™u ch√≠ "common_room_entertainment", "hotel_wifi_service" kh√¥ng c√≥ s·ª± kh√°c bi·ªát r√µ r·ªát, tuy nhi√™n ƒë√¢y c≈©ng l√† c√°c ti√™u ch√≠ m√† kh√°ch s·∫°n c·∫ßn quan t√¢m v√¨ c√≥ ƒë·ªô t∆∞∆°ng quan l·ªõn ƒë·ªÉ gi√∫p c·∫£i thi·ªán s·ª± h√†i l√≤ng c·ªßa kh√°ch h√†ng

---

## 6.3 C√¢u h·ªèi 3: Trong t√¢ÃÅt caÃâ caÃÅc y√™ÃÅu t√¥ÃÅ ƒë∆∞∆°Ã£c ch√¢ÃÅm ƒëi√™Ãâm, nh∆∞ÃÉng y√™ÃÅu t√¥ÃÅ naÃÄo quan troÃ£ng nh√¢ÃÅt ƒë√™Ãâ m√¥Ã£t khaÃÅch saÃ£n seÃÉ ƒë∆∞∆°Ã£c ƒëaÃÅnh giaÃÅ haÃÄi loÃÄng?

**CaÃÅc b∆∞∆°ÃÅc th∆∞Ã£c hi√™Ã£n:**

Trong c√¢u hoÃâi naÃÄy, em seÃÉ s∆∞Ãâ duÃ£ng Machine Learning ƒë√™Ãâ giaÃâi quy√™ÃÅt v√¢ÃÅn ƒë√™ÃÄ. DuÃÄng c√¢y quy√™ÃÅt ƒëiÃ£nh v∆°ÃÅi ph∆∞∆°ng phaÃÅp tiÃÅnh entropy nhoÃâ nh√¢ÃÅt seÃÉ choÃ£n ra ƒë∆∞∆°Ã£c 5 y√™ÃÅu t√¥ÃÅ chiÃÅnh quy√™ÃÅt ƒëiÃ£nh s∆∞Ã£ haÃÄi loÃÄng hoƒÉÃ£c kh√¥ng haÃÄi loÃÄng v√™ÃÄ khaÃÅch saÃ£n. 
- B∆∞∆°ÃÅc 1:  Chu√¢Ãân hoÃÅa caÃÅc c√¥Ã£t categorical v√™ÃÄ numerical
- B∆∞∆°ÃÅc 2: Chia ra caÃÅc x_train, y_train vaÃÄ fit vaÃÄo c√¢y quy√™ÃÅt ƒëiÃ£nh s∆∞Ãâ duÃ£ng th∆∞ vi√™Ã£n sklearn- decision tree
- B∆∞∆°ÃÅc 3: ChoÃ£n ra 5 thu√¥Ã£c tiÃÅnh ƒë∆∞ÃÅng ƒë√¢ÃÄu quy√™ÃÅt ƒëiÃ£nh s∆∞Ã£ haÃÄi loÃÄng hoƒÉÃ£c kh√¥ng haÃÄi loÃÄng

### Ti·ªÅn x·ª≠ lyÃÅ

Chu√¢Ãân hoÃÅa caÃÅc c√¥Ã£t categorical v√™ÃÄ numerical

In [ ]:
ehs_df_normalize=ehs_df.copy()
ehs_df_normalize['gender'] = ehs_df_normalize['gender'].replace(['Male'],1)
ehs_df_normalize['gender'] =ehs_df_normalize['gender'].replace(['Female'],2)

ehs_df_normalize['type_of_travel'] = ehs_df_normalize['type_of_travel'].replace(['Personal Travel'],1)
ehs_df_normalize['type_of_travel'] = ehs_df_normalize['type_of_travel'].replace(['Group Travel'],2)

ehs_df_normalize['satisfaction'] = ehs_df_normalize['satisfaction'].replace(['neutral or dissatisfied'],0)
ehs_df_normalize['satisfaction'] = ehs_df_normalize['satisfaction'].replace(['satisfied'],1)
ehs_df_normalize['type_of_booking'] = ehs_df_normalize['type_of_booking'].replace(['Individual/Couple'],1)
ehs_df_normalize['type_of_booking'] = ehs_df_normalize['type_of_booking'].replace(['Group bookings'],2)

ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['tourism'],5)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['academic'],4)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['business'],3)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['aviation'],2)
ehs_df_normalize['purpose_of_travel'] = ehs_df_normalize['purpose_of_travel'].replace(['personal'],1)

### Ph√¢n t√≠ch d·ªØ li·ªáu ƒë·ªÉ tr·∫£ l·ªùi cho c√°c c√¢u h·ªèi

X√¢y d∆∞Ã£ng c√¢y quy√™ÃÅt ƒëiÃ£nh

In [ ]:
# L√¢ÃÅy khoaÃâng 80% m√¢ÃÉu cho t√¢Ã£p train, 20% cho t√¢Ã£p test
#Kh√¥ng l√¢ÃÅy c√¥Ã£t id
ehs_df_normalize.drop('id',axis=1,inplace=True)
x=ehs_df_normalize.iloc[:,0:-1]
y=ehs_df_normalize.iloc[:,-1]
#TaÃÅch b√¥Ã£ train, test
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
estimator = DecisionTreeClassifier(criterion='entropy',max_depth=8,random_state=42)
# TaÃ£o 1 selector choÃ£n ra thu√¥Ã£c tiÃÅnh t√¥ÃÅt nh√¢ÃÅt
selector = RFE(estimator, n_features_to_select=5, step=1)
selector = selector.fit(x_train,y_train)
topatt=[i for i in range(len(selector.ranking_)) if selector.ranking_[i]==1]
result = [list(ehs_df_normalize.columns)[i] for i in topatt]
print('Top 5 attribute affect the customer satisfaction: ')
print(result)
#TiÃÅnh ƒë√¥Ã£ chiÃÅnh xaÃÅc
modelDT=DecisionTreeClassifier(criterion='entropy',max_depth=8,random_state=42)
modelDT.fit(x_train,y_train)
modelDT.predict(x_test)
acc=modelDT.score(x_test,y_test)*100
print(f'Accuracy: {round(acc,2)}%')

VeÃÉ c√¢y quy√™ÃÅt ƒëiÃ£nh

In [ ]:
r = export_text(modelDT, feature_names=list(ehs_df_normalize.columns)[0:-1])
print(r)

**Nh√¢Ã£n xeÃÅt:**
- Sau khi s∆∞Ãâ duÃ£ng ph∆∞∆°ng phaÃÅp maÃÅy hoÃ£c laÃÄ c√¢y quy√™ÃÅt ƒëiÃ£nh thiÃÄ top 5 nh∆∞ÃÉng thu√¥Ã£c tiÃÅnh quan troÃ£ng nh√¢ÃÅt aÃânh h∆∞∆°Ãâng ƒë√™ÃÅn ƒë√¥Ã£ haÃÄi loÃÄng khaÃÅch haÃÄng laÃÄ:
1. type_of_travel: loaÃ£i hiÃÄnh du liÃ£ch
2. type_of_booking: loaÃ£i booking
3. hotel_wifi_service: diÃ£ch vuÃ£ wifi
4. hotel_location: viÃ£ triÃÅ khaÃÅch saÃ£n
5. common_room_entertainment: phoÃÄng giaÃâi triÃÅ chung
-  Khai taÃÅc t√¥ÃÅt v√¢ÃÅn ƒë√™ÃÄ bƒÉÃÄng vi√™Ã£c duy triÃÄ √¥Ãân ƒëiÃ£nh, n√¢ng c√¢ÃÅp, caÃÄi thi√™Ã£n caÃÅc y√™ÃÅu t√¥ÃÅ k√™Ãâ tr√™n seÃÉ giuÃÅp khaÃÅch saÃ£n nh√¢Ã£n ƒë∆∞∆°Ã£c nhi√™ÃÄu yÃÅ ki√™ÃÅn ƒëaÃÅnh giaÃÅ tiÃÅch c∆∞Ã£c h∆°n, thu huÃÅt khaÃÅch haÃÄng m∆°ÃÅi vaÃÄ gi∆∞ÃÉ laÃ£i t√™Ã£p khaÃÅch haÃÄng cuÃÉ
- S∆∞Ãâ duÃ£ng m√¥ hiÃÄnh hoÃ£c maÃÅy naÃÄy coÃÄn giuÃÅp ph√¢n l∆°ÃÅp t√™Ã£p khaÃÅch haÃÄng m∆°ÃÅi, bi√™ÃÅt ƒë∆∞∆°Ã£c y√™u c√¢ÃÄu cho t∆∞ÃÄng ti√™u chiÃÅ, t∆∞ÃÄ ƒëoÃÅ n√¢ng cao ch√¢ÃÅt l∆∞∆°Ã£ng phuÃ£c vuÃ£

---

## 6.4 C√¢u h·ªèi 4: ƒê·ªô tu·ªïi c·ªßa kh√°ch h√†ng ƒë·ªëi v·ªõi t·ª´ng m·ª•c ƒë√≠ch chuy·∫øn ƒëi ·∫£nh h∆∞·ªüng nh∆∞ th·∫ø n√†o ƒë·∫øn s·ª± h√†i l√≤ng?

### Ti·ªÅn x·ª≠ l√Ω

### Ph√¢n t√≠ch d·ªØ li·ªáu ƒë·ªÉ tr·∫£ l·ªùi cho c√°c c√¢u h·ªèi

- Xem c√°c s·ªë l∆∞·ª£ng kh√°ch h√†ng nam v√† n·ªØ th·ªèa m√£n c√°c d·ªãch v·ª• c·ªßa kh√°ch s·∫°n

In [ ]:
with sns.axes_style('white'):
    g = sns.catplot(
        x='age',
        data=ehs_df,
        aspect=3.0,
        kind='count',
        hue='satisfaction',
        order=range(5, 86)
    )
    g.set_ylabels('Age vs Satisfaction')

***Nh·∫≠n x√©t:*** ƒê·ªô tu·ªïi: T·ª´ 7 ƒë·∫øn 38 tu·ªïi v√† t·ª´ 61 ƒë·∫øn 79 tu·ªïi, t·ª∑ l·ªá kh√°ch h√†ng kh√¥ng h√†i l√≤ng cao h∆°n so v·ªõi kh√°ch h√†ng h√†i l√≤ng. Ng∆∞·ª£c l·∫°i, ·ªü ƒë·ªô tu·ªïi 39-60, t·ª∑ l·ªá kh√°ch h√†ng h√†i l√≤ng cao h∆°n so v·ªõi kh√°ch h√†ng kh√¥ng h√†i l√≤ng. CƒÉn c·ª© v√†o ƒëi·ªÅu n√†y ta s·∫Ω chia th√†nh 4 groups: [7,20), [20,40), [40,61), [61, 85) ƒë·ªÉ ti·∫øp t·ª•c ph√¢n t√≠ch.

**Th√™m c·ªôt Age Group v√†o dataframe**

In [ ]:
ehs_df['age_group'] = pd.cut(ehs_df['age'], [7, 20, 40, 61, 86],
    right=False
)

In [ ]:
age_grp_table = ehs_df.pivot_table(
    index=['age_group','purpose_of_travel'],
    columns=['satisfaction'],
    aggfunc={'satisfaction':['count']},
)

len_ehs_df=len(ehs_df)

for i in range(5, 21, 5):
    ax = age_grp_table.loc[age_grp_table.index[i-5:i]].T.plot(kind="bar",figsize=(8,6),rot=0)
    plt.title(f'{age_grp_table.index[i-5:i][0][0]}')
    
    # th√™m percentage tr√™n t·ª´ng c·ªôt
    for p in ax.patches:
        percentage = '{:.1f}%'.format(100 * p.get_height()/len_ehs_df)
        x, y = (p.get_x() + p.get_width()*1.1), (p.get_height()+20)
        ax.annotate(percentage, (x, y), ha='right')

***Tr·∫£ l·ªùi c√¢u h·ªèi***
- Tr√™n t·∫•t c·∫£ c√°c nh√≥m tu·ªïi, s·ªë l∆∞·ª£ng kh√°ch h√†ng h√†i l√≤ng/ kh√¥ng h√†i l√≤ng ƒë·ªÅu theo th·ª© t·ª± gi·∫£m d·∫ßn: "tourism", "academic", "business", "aviation", "personal". C√≥ th·ªÉ m·ªôt ph·∫ßn l√† do s·ª± ch√™nh l·ªách v·ªÅ s·ªë l∆∞·ª£ng m·∫´u c·ªßa c√°c lo·∫°i m·ª•c ƒë√≠ch n√†y
- Kh√°ch s·∫°n c·∫ßn ∆∞u ti√™n nh·ªØng gi·∫£i ph√°p th√≠ch h·ª£p v√† hi·ªáu qu·∫£ ƒë·ªÉ c√≥ th·ªÉ l√†m h√†i l√≤ng c√°c kh√°ch h√†ng "tourism", "academic" t·ª´ 20-40 tu·ªïi, v√¨:
    - ƒê·ªô tu·ªïi n√†y ƒëem l·∫°i ngu·ªìn doanh thu l·ªõn cho kh√°ch s·∫°n
    - ƒê·ªô tu·ªïi 40-61 m·∫∑c d√π t·ª∑ l·ªá h√†i l√≤ng cao h∆°n, nh∆∞ng s·ªë l∆∞·ª£ng kh√°ch h√†ng kh√¥ng h√†i l√≤ng v·∫´n c√≤n nhi·ªÅu n√™n s·∫Ω kh√°ch s·∫°n s·∫Ω ph·∫ßn n√†o nh·∫≠n ƒë∆∞·ª£c l·ª£i nhu·∫≠n gi√°n ti·∫øp d·ª±a tr√™n nh·ªØng gi·∫£i ph√°p n√†y

---

# 7. Nh√¨n l·∫°i qu√° tr√¨nh l√†m ƒë·ªì √°n

## Th√†nh vi√™n 1

- H·ªç t√™n: L√™ SyÃÉ Thu√¢ÃÄn
- ƒê√£ g·∫∑p nh·ªØng kh√≥ khƒÉn g√¨?   
Trong quaÃÅ triÃÄnh laÃÄm ƒë√¥ÃÄ aÃÅn, vi√™Ã£c tiÃÄm ki√™ÃÅm d∆∞ÃÉ li√™Ã£u, baÃÄi toaÃÅn d∆∞Ã£a tr√™n d∆∞ÃÉ li√™Ã£u ƒëoÃÅ laÃÄ c√¥ng ƒëoaÃ£n khoÃÅ nh√¢ÃÅt. Ti√™ÃÅp theo laÃÄ v√¢ÃÅn ƒë√™ÃÄ ƒëƒÉÃ£t c√¢u hoÃâi viÃÄ em cuÃÉng ch∆∞a coÃÅ kinh nghi√™Ã£m nhi√™ÃÄu.  
S∆∞Ãâ duÃ£ng Git ƒë√™Ãâ merge Jupyter notebook

- C√≥ h·ªçc ƒë∆∞·ª£c g√¨ h·ªØu √≠ch?  
HoaÃÄn thaÃÄnh ƒë∆∞∆°Ã£c m√¥Ã£t ƒë√¥ÃÄ aÃÅn Khoa hoÃ£c d∆∞ÃÉ li√™Ã£u th∆∞Ã£c t√™ÃÅ  mƒÉÃ£c duÃÄ coÃÄn nhi√™ÃÄu thi√™ÃÅu soÃÅt ƒëaÃÉ giuÃÅp em nƒÉÃÅm roÃÉ h∆°n v√™ÃÄ quy triÃÄnh laÃÄm vi√™Ã£c cuÃâa nhaÃÄ Khoa hoÃ£c d∆∞ÃÉ li√™Ã£u.  
PhaÃÅt tri√™Ãân, √¥n t√¢Ã£p laÃ£i m√¥Ã£t s√¥ÃÅ kyÃÉ nƒÉng x∆∞Ãâ liÃÅ d∆∞ÃÉ li√™Ã£u ƒëaÃÉ hoÃ£c th√¥ng qua m√¥n L√¢Ã£p triÃÄnh Khoa hoÃ£c D∆∞ÃÉ li√™Ã£u, Khai thaÃÅc d∆∞ÃÉ li√™Ã£u vaÃÄ ∆∞ÃÅng duÃ£ng.  
Trau d√¥ÃÄi th√™m kinh nghi√™Ã£m trong vi√™Ã£c khai thaÃÅc v√¢ÃÅn ƒë√™ÃÄ t∆∞ÃÄ d∆∞ÃÉ li√™Ã£u, nhiÃÄn v√¢ÃÅn ƒë√™ÃÄ c√¢ÃÄn khai thaÃÅc nhanh h∆°n, r√¥Ã£ng h∆°n

## Th√†nh vi√™n 2

- H·ªç t√™n: Nguy·ªÖn Minh Ph√∫c
- ƒê√£ g·∫∑p nh·ªØng kh√≥ khƒÉn g√¨?
    - Ch·ªçn t·∫≠p d·ªØ li·ªáu ph√π h·ª£p cho vi·ªác kh√°m ph√°, ph√¢n t√≠ch
    - Ch∆∞a bi·∫øt nhi·ªÅu ph∆∞∆°ng ph√°p, c√¥ng c·ª• ƒë·ªÉ ph√¢n t√≠ch d·ªØ li·ªáu hi·ªáu qu·∫£
    - Th·ªëng nh·∫•t c√°c quy·∫øt ƒë·ªãnh c·ªßa nh√≥m
- C√≥ h·ªçc ƒë∆∞·ª£c g√¨ h·ªØu √≠ch?
    - K·ªπ nƒÉng l√†m vi·ªác nh√≥m
    - C√°ch s·ª≠ d·ª•ng Git ƒë·ªÉ l√†m vi·ªác v·ªõi nh√≥m
    - C√¥ng c·ª• h·ªó tr·ª£ merge file jupyter notebook

## Nh√≥m
**N·∫øu c√≥ th√™m th·ªùi gian th√¨ s·∫Ω l√†m g√¨?**
- T√¨m hi·ªÉu th√™m c√°c ph∆∞∆°ng ph√°p ƒë·ªÉ ph√¢n t√≠ch d·ªØ li·ªáu
- T√¨m hi·ªÉu th√™m domain knowledge ƒë·ªÉ c√≥ th·ªÉ ƒë·∫∑t c√¢u h·ªèi c√≥ √≠ch
- Ph√¢n tiÃÅch d∆∞ÃÉ li√™Ã£u kyÃÉ h∆°n ƒë√™Ãâ khai thaÃÅc d∆∞ÃÉ li√™Ã£u t√¥ÃÅt h∆°n.

# 8. T√†i li·ªáu tham kh·∫£o

- C√°c video b√†i gi·∫£ng, slide c·ªßa th·∫ßy Ki√™n
- Documents c·ªßa c√°c th∆∞ vi·ªán pandas, matplotlib, seaborn
- Stackoverflow
-